<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ridecrew.ridecrew">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_packriding"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".ui.IntroActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.ScheduleEnrollActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ParticapationListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.FileUploadActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.SignInAgreeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.NoticeAddActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>